body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

section {
  flex: 1 0 auto;
}

img {
  width: 100%;
}
#home {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("images/light-bulb.jpg");
  background-size: cover;
}
#projects {
  background-image: linear-gradient(to top, rgba(0,0,0, 0.3) 0%, rgba(0,0,0, 0.8) 90%), url("images/idea-board.jpg");
}
#about {
  background-image: radial-gradient(circle, rgba(255,255,255, 0.3) 0%, rgba(0,0,0, 0.8) 100%), url("images/idea.jpg");
  background-size: cover;
  background-position: center;
}
#skills {
  background-image: radial-gradient(circle, rgba(255,255,255, 0.3) 0%, rgba(0,0,0, 0.8) 60%), url("images/web.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(223, 220, 220);
}
.contact {
  height: 42px;
  width: 42px;
}

footer {
  text-align: center;
}

.card:hover {
  background-color: rgba(17, 16, 16, 0.8) !important;
  color: #fff;
}

.card:hover .red-hover {
  color: rgb(185, 15, 15) !important;
}
